@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --color-primary: #e11d48;
  --color-secondary-bg: #F5E5C8;
  --color-page-bg: #f8f2e5;
  --color-white: #ffffff;
  --color-pending: #b45309;
  --color-pending-bg: #fef3c7;
  --color-success-bg: #9ae68d;
  --color-success-text: #14532d;
}

html,
body {
  background-color: var(--color-page-bg);
}

/* Utility: hide scrollbar while keeping scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}

